// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary:       #493a8e !default;
$secondary:     #f07324 !default;
$success:       #198754 !default;
$danger:        #dc3545 !default;
$info:          #0ed0c0 !default;
$warning:       #ffc107 !default;
